* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(215, 245, 244);
    color: #000000;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

  .card {
  width: 80%;
  margin: 40px auto;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 5px 10px #0f0f0f96;
}